@{
    ViewBag.Title = "Curve";
}
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.dialog.css")" rel="stylesheet" />
<script src="@Url.Content("~/ViewsScripts/DataMonitor/BaseCurve.js")?v=3"></script>
<script src="@Url.Content("~/ViewsScripts/DataMonitor/globalCurve.js")"></script>
<script src="@Url.Content("~/ViewsScripts/DataMonitor/HLBDCurve.js")?=3"></script>
<script src="@Url.Content("~/ViewsScripts/DataMonitor/SNBXCurve.js")?=4"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>
<script src="@Url.Content("~/Scripts/jcanvas.min.js")?v=8"></script>
<script src="@Url.Content("~/Scripts/xml2json.js")"></script>

<style type="text/css">
    ul {
        list-style-type: none;
    }

    #contextmenu {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

        #contextmenu ul {
            float: left;
            border: 1px solid #979797;
            background: #f1f1f1 url(/img/20120327wwwzzjsnet_1.png) 24px 0 repeat-y;
            padding: 2px;
            box-shadow: 2px 2px 2px rgba(0,0,0,.6);
        }

            #contextmenu ul li {
                float: left;
                clear: both;
                height: 24px;
                cursor: pointer;
                line-height: 24px;
                white-space: nowrap;
                padding: 0 30px;
            }

                #contextmenu ul li.sub {
                    background-repeat: no-repeat;
                    background-position: right 9px;
                    background-image: url(/img/20120327wwwzzjsnet_2.png);
                }

                #contextmenu ul li.active {
                    background-color: #f1f3f6;
                    border-radius: 3px;
                    border: 1px solid #aecff7;
                    height: 22px;
                    line-height: 22px;
                    background-position: right -8px;
                    padding: 0 29px;
                }

            #contextmenu ul ul {
                display: none;
                position: absolute;
            }


</style>
<script type="text/javascript">
    $(function () {

        new CurveContext().buildRect();
     
            //$.ajax({
            //    url: 'http://demo.oildigital.com:8080/gds/witsmlservice.asmx/GetLogData',
            //    type: 'POST',
            //    dataType: 'xml',
            //    data: soapMessage[i],
            //    crossDomain: true,
            //    complete: function (xmlHttpRequest, status) {
                 
            //        var json = getJson(xmlHttpRequest.responseText, "GetLogDataResponse");

            //        Module.soap_callback(callId, JSON.stringify(json), xmlHttpRequest.status);
            //    },
            //    contentType: 'text/xml; charset="utf-8"; action="http://www.oildigital.com/GetLogData"'

            //});
        
       

    });






















    function getJson(dom, tag) {
        alert(dom);
        var node = $(dom).find(tag).get(0);
        console.log(node);
        var x2js = new X2JS();
        var json = x2js.xml2json(node);
        return json;
    }
    function save()
    {

    }
    function resetTemplate() {
    //    var c = document.getElementById("can_header");
    //    var cxt = c.getContext("2d");
    //    cxt.clearRect(0, 0, c.width, c.height);
    //var d = document.getElementById("can_datas");
    //var dxt = d.getContext("2d");
    //dxt.clearRect(0, 0, d.width, d.height);
    //cxt.save();
    //dxt.save();
        //$('#can_header').clearCanvas(0, 0, $('#can_header').width, $('#can_header').height);
        //$('#can_datas').clearCanvas(0, 0, $('#can_datas').width, $('#can_datas').height);

        $('#can_header').drawRect({
            fillStyle: '#ffffff',
            layer: true,
            x: 0, y: 0,
            width: this.width,
            height: this.height,
            fromCenter: false
        });
        $('#can_datas').drawRect({
            fillStyle: '#ffffff',
            layer: true,
            x: 0, y: 0,
            width: this.width,
            height: this.height,
            fromCenter: false
        });
        new CurveContext().buildRect();
       

    }
    function changeDepth() {

        //if(window.location!=window.parent.location){// 页面在iframe中
        //    window.parent.jQuery.noConflict();
        //}else{// 页面单独打开
        //    jQuery.noConflict();
        //}

       //$doc("#depth").css("display", "block");
       $("#depth").dialog(
            {
                title: '调整深度参数',
                height: 330,
                width: 550,
                modal: true,
                buttons: [{
                    text: "确定",
                    click: function () {
                        alert(111);
                    }
                }, {
                    text: "取消",
                    click: function () {
                        $(this).dialog("close");
                    }
                }


                ]
            });
    }
    </script>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/DataMonitor_Canvas.js")?v=8"></script>*@

<div style="width:100%;overflow:auto;height:30px;">
    <label>选择模版：</label>
    <select id="companyName" onchange="resetTemplate()">
        <option value="哈里波顿">哈里波顿</option>
        <option value="斯伦贝谢">斯伦贝谢</option>
    </select>
    <input type="button" id="save" onclick="changeDepth();" value="深度" />
    <label>比例尺：</label>
    <select id="rate" onchange="resetTemplate()">
        <option value="0.05">1:500</option>
        <option value="0.001">1:1000</option>
    </select>
    <input type="button" id="save" onclick="save();" value="保存" />
</div>
<div style="width:100%;overflow:auto;height:400px;">
    <canvas id="can_header"></canvas>
</div>
    <div style="width:100%;overflow:auto;height:700px;">
        <canvas id="can_datas"></canvas>
    </div>
    <div id="contextmenu">
        <ul>

            <li>
                道操作
                <ul>
                    <li> <a href="#" onclick="alert(添加道);">添加道</a></li>
                    <li>删除本道</li>
                </ul>
            </li>
            <li>
                二号菜单
                <ul>
                    <li>改变网页背景颜色</li>
                    <li>函数传参</li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="depth" style="display:none">
        <label>设计深度</label>
    </div>


